*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url('../img/natural-pattern.png');
  font-size: 20px;
  font-family: 'Roboto',sans-serif;
}
.container-full{
  width: 65%;
  margin: 0 auto;
}
.top-header{
  background-image: url(../img/natural-header.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  color: white;
  height: 250px;
  border: 4px solid white;
}
.top-header img {
  height: 70%;
}
.top-header h2{
  font-size: 0.9em;
}
.bottom-header{
  background-color: grey;
  text-align: center;
  vertical-align: middle;
  height: 30px;
}
.bottom-header li {
  color: white;
  display: inline-block;
  font-size: 0.6em;
  padding: 5px 15px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav li:hover {
  background-color: darkgrey;
  border-radius: 7px;
}
.actual-page {
  background-color: darkgrey;
  border-radius: 7px;
}
.row {
  width: 100%;
  margin-top: 10px;
}
.row::after{
  content: '';
  display: table;
  clear: both;
}
.colonna {
  float: left;
}
.col-left, .col-right {
  width: 20%;
}
.col-center {
  width: 50%;
  margin: 0 5%;
}
.box {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
}
.link-boolean img {
  height: 25px;
  margin: 5px;
  float: left;
}
.title-box{
  line-height: 25px;
  padding: 5px 0;
  font-size: 0.8em;
}
.link-boolean ul{
  list-style-type: none;
}
.link-boolean li{
  margin: 10px 0;
}
.link-boolean a {
  color: darkgreen;
  text-decoration: none;
}
.box p {
  margin-top: 10px;
  font-size: 0.6em;
}
footer {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  color: darkgrey;
}
footer span {
  font-size: 0.6em;
}
.footer-icons:after {
  content: '';
  display: table;
  clear: both;
}
.footer-icons a{
  font-size: 1.5em;
  float: left;
  width: 3%;
  margin: 0 15%;
  color: darkgrey;
  padding: 10px 0;
}
