*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url('../img/natural-pattern.png');
  font-size: 20px;
  font-family: 'Roboto',sans-serif;
}
.container-full{
  width: 65%;
  margin: 0 auto;
}
.top-header{
  background-image: url(../img/natural-header.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  color: white;
  height: 250px;
  border: 4px solid white;
}
.top-header img {
  height: 70%;
}
.top-header h2{
  font-size: 0.9em;
}
.bottom-header{
  background-color: grey;
  text-align: center;
  vertical-align: middle;
  height: 30px;
}
.bottom-header li {
  color: white;
  display: inline-block;
  font-size: 0.6em;
  padding: 5px 15px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav li:hover {
  background-color: darkgrey;
  border-radius: 7px;
}
.actual-page {
  background-color: darkgrey;
  border-radius: 7px;
}
